html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.site-container {
	max-width: 1200px;
}

#page {
    margin: 0 auto;
    padding: 30px 0px;
}

#headshot {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#contact_info {
    width: 100%;
    text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	padding-top: 25px;
}

@media all and (min-width: 800px) {

}

@media all and (max-width: 400px) {

}
